html {
    font-size: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.3;
    color: $darkCyan;
    overflow-x: hidden;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 700;
}

a, a:visited, a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

// Flex

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-sa {
        justify-content: space-around;
    }

    &-ai-c {
        align-items: center;
    }

}

// Container 

.container {
    max-width: 1190px;
    margin: 0 auto;
}

// Get started button 

.get-started {
    position: relative;
    display: inline-block;
    background-color: $pink;
    color: $white;
    font-weight: 600;
    border-radius: 50px;
    padding: 1.5rem 5rem;
    box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.05);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.4);
        opacity: 0;
        transition: opacity 250ms ease-in-out;
    }

    &:hover::before{
        opacity: 1;
    }
}

// Titles

.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

// Visibility

.hide-for-mobile {
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large){
        display: none;
    }
}