// Colors

$white: #FFFFFF;
$pink: hsl(322, 100%, 66%);
$lightPink: hsl(321, 100%, 78%);
$lightRed: hsl(0, 100%, 63%);

$darkCyan: hsl(192, 100%, 9%);
$paleBlue: hsl(207, 100%, 98%);

// fs 12px footer
// fs 16px text
// fs 20px footer title
// fs 32px titles
// fs 38px community title
// fs 54px community numbers